<h2 class="result">
  <%= render partial: 'vote_count', locals: {count: @party.votes.count} %>
</h2>

<%= render 'parties/votes_table' %>

<% if session.id == @party.session_id %>
  <%= form_for @party do |f| %>
    <%= f.submit 'Restart!', class: 'btn btn-danger' %>
  <% end %>
<% end %>

<script>
startPolling(<%= result_party_path(@party, format: :js).to_json.html_safe %>);
</script>
