<h2><span id="count"><%= @party.votes.count %></span> votes are in!</h2>
<table class="table table-striped table-hover">
  <tbody>
    <%= render 'parties/votes' %>
  </tbody>
</table>

<% if session.id == @party.session_id %>
  <%= form_for @party do |f| %>
    <%= f.submit 'Restart!', class: 'btn btn-danger' %>
  <% end %>
<% end %>

<script>
$(function() {
    setInterval(function() {
      $.get(<%= result_party_path(@party, format: :js).to_json.html_safe %>);
    }, 1000);
});
</script>
